// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_next_action {
	margin-bottom: 0px;
}

h1#project_name {
	margin: 25px 0px;
}

#actions {
	margin-bottom: 25px;
}